@charset "utf-8";

:root {
    --main-color: rgb(50, 192, 192);
    --sub-color: #9bd7d7;
    --bg-color: #ffffff;
    --font-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}



#container_wrapper {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 700px;
    background-color: var(--bg-color);
}

#modal {
    visibility: hidden;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    border: 1px solid black;
}
/* header---------------------------------------- */
header {
    display: flex;
    width: inherit;
    height: 100px;
    align-items: center;
}

header .menu_bg {
    z-index: 999;
    transition: height .5s;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 0px;
    background-color: var(--sub-color)

}

header h1 {
    width: 200px;
    height: 40px;
    font-size: 0;
}

/* nav-------------------------------------------------- */
nav {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
nav ul{
    list-style: none;
}
/* gnb------------------------------ */
nav .gnb {
    z-index: 1000;
    display: flex;
    justify-content:end;
    position: absolute;
    top:60px;
    right: 5%;
}

nav .gnb .main_menu > a{
    font-size: 24px;
    font-weight: 600;

}

nav .gnb a {
    display: block;
    width: 150px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

nav .gnb .sub_menu {
    transition: height 0.5s;
    height: 0;
    overflow: hidden;
    background-color: var(--sub-color)
}

/* hover------------------------------ */
nav .gnb:hover .sub_menu {
    height: 120px;
}

nav .gnb .main_menu:hover{
    background-color: var(--main-color)
}

nav .gnb .sub_menu li:hover {
    background-color: whitesmoke;
}

/* B-------------------------------------------------- */
#B {
    width:inherit;
    height: 300px;
    background-color: cadetblue;
}

#B .slide_container div{
    position: absolute;
}

#B .slide_container div span {
    position: absolute;
    font-size: 32px;
    background-color: white;
}

#C {
    display: flex;
    width:inherit;
    height: 200px;
    background-color: pink
    ;
}

#C .notice {
    flex-grow: 1;  

} 

#C .gallery {
    flex-grow: 1;
}
#C .shortcut {
    /* flex-grow: 1;     */
    position: relative;
    background-color: aquamarine;
}
#C .shortcut span {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%
    );
}

footer {
    display: flex;
    width:inherit;
    height: 100px;
    background-color: palegreen;
}
footer >div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
    background-color: #9bd7d7;
}

footer .menu {
    width: 100%;
    height: 50%;
    background-color: palevioletred;
}

footer .copyright{
    width: 100%;
    height: 50%;
    background-color: teal;
}

footer .family_site {
    width:300px;
    height:inherit;
    background-color: aliceblue;
}