@charset "utf-8"; * { margin: 0; padding: 0; list-style: none; text-decoration: none; color: black; box-sizing: border-box; } 

a { text-decoration: none; color: inherit; } 

/*global end ------------------- */

/* container ------------------- */
#container_window { width: 100vw; height: 100vh; } 

#container_ACB { width: 100%; height: calc(100% - 120px); display: flex; } 

/*modal start-------------------- */
#modal { width: 50vw; height: 60vh; border: 1px solid black; position: fixed; left: 25vw; top: 20vh; visibility: hidden; background-color: aliceblue; } 

#modal header { width: 100%; height: 10%; font-size: 24px; } 

#modal p { margin: 0 auto; width: 80%; height: 80%; text-decoration: underline; } 

#modal button { position: absolute; bottom: 10px; right: 10px; } 
/*modal end-------------------- */

/*A ==================== */
#A { min-width: 200px; width: 200px; height: 100%; } 

#A .logo { width: 100%; height: 50px; text-align: center; line-height: 50px; margin-bottom: 20px; } 

nav { width: 80%; background-color:darkseagreen; margin: auto; } 

nav .main_menu > a { display: block; font-size: larger; font-weight: 600; padding: 2px 0; } 

nav .sub_menu li { height: 0; overflow: hidden; transition: height 0.5s; font-size: 20px; } 

nav .main_menu:hover > a { background-color: tomato; } 

nav .main_menu:hover .sub_menu li { height: 30px; } 

nav .sub_menu li:hover { background-color: tomato; } 

/*C ======================================== */
#C { min-width: 400px; width: 400px; height: 100%; display: flex; flex-direction: column; } 

/*banner part -------------------- */
.banner { flex-grow: 1; width: 100%; height: 100px; border-bottom: 1px dotted grey; } 

.banner h3 { display: inline-block; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); } 

/*notice part -------------------- */
.notice { flex-grow: 1.5; display: flex; flex-direction: column; justify-content: center; overflow: hidden; } 

.notice h3 { padding-left: 20px; } 

.notice ul { width: 90%; margin: 0 auto; } 

.notice li { display: flex; line-height: 2.2; } 

.notice li:hover { text-decoration: underline; } 

.notice li a { display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 250px; } 

.notice li span { margin-left: auto; } 

/*gallery part -------------------- */
.gallery { flex-grow: 1.5; display: flex; flex-direction: column; justify-content: center; } 
.gallery h3 { padding-left: 20px; } 
.gallery ul { margin-top: 1%; display: flex; justify-content: space-evenly; } 
.gallery ul li span { margin-top: 1%; display: block; text-align: center; } 

/*shortcut part -------------------- */
.shortcut { flex-grow: 1; display: flex; flex-direction: column; justify-content: center; } 
.shortcut .container { display: flex; justify-content: space-evenly;} 
.shortcut .container div { display: flex; flex-direction: column; } 
.shortcut .container div span { display: block; text-align: center; } 
.shortcut img { height: 100px; object-fit: fill; margin: auto 0; } 

/*B ======================================== */
#B { overflow: hidden; width: 100%; height: 100%; } 

.slide_container { transition: transform 0.5s; display: flex; width: 400%; height: 100%; } 
.slide_container div { position: relative; } 
.slide_container span { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-color: white; } 
.slide_container img { width: 100%; height: 100%; object-fit: cover; } 

/*FOOTER ======================================== */
footer { display: flex; width: 100%; height: 120px; } 

footer .logo { background-color: coral; min-width: 200px; width: 200px; height: 100%; height: 100%; text-align: center; filter: grayscale(0.7); } 
footer .container { width: 100%;} 
footer .container ul { padding-left: 10px; display: flex; height: 40%; align-items: center; } 

footer .container ul li { margin: 0 10px; } 
footer .footer_p_wrapper { padding-left: 20px; border-top: 1px dotted gray; } 