@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

/*global end ------------------- */
/* container ------------------- */
#container_window {
    width: 100vw;
    height: 100vh;
}

#container_ACB {
    display: flex;
    width: 100%;
    height: calc(100% - 120px);
}

/*modal start-------------------- */
#modal {
    position: fixed;
    top: 20%;
    left: 25%;
    visibility: hidden;
    z-index: 100;
    border: 1px solid black;
    background-color: aliceblue;
    width: 500px;
    height: 300px;
}

#modal header {
    width: 100%;
    height: 10%;
    font-size: 24px;
}

#modal p {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    text-decoration: underline;
}

#modal button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/*modal end-------------------- */
/*A ==================== */
#A {
    width: 200px;
    min-width: 200px;
    height: 100%;
}

#A .logo {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

nav {
    margin: auto;
    background-color: darkseagreen;
    width: 80%;
}

nav .main_menu>a {
    display: block;
    padding: 2px 0;
    font-size: larger;
    font-weight: 600;
}

nav .sub_menu li {
    transition: height 0.5s;
    height: 0;
    overflow: hidden;
    font-size: 20px;
}

nav .main_menu:hover>a {
    background-color: tomato;
}

nav .main_menu:hover .sub_menu li {
    height: 30px;
}

nav .sub_menu li:hover {
    background-color: tomato;
}

/*C ======================================== */
#C {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 400px;
    height: 100%;
}

/*banner part -------------------- */
.banner {
    flex-grow: 1;
    border-bottom: 1px dotted grey;
    width: 100%;
    height: 100px;
}

.banner h3 {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*notice part -------------------- */
.notice {
    display: flex;
    flex-direction: column;
    flex-grow: 1.5;
    justify-content: center;
    overflow: hidden;
}

.notice h3 {
    padding-left: 20px;
}

.notice ul {
    margin: 0 auto;
    width: 90%;
}

.notice li {
    display: flex;
    line-height: 2.2;
}

.notice li:hover {
    text-decoration: underline;
}

.notice li a {
    display: inline-block;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice li span {
    margin-left: auto;
}

/*gallery part -------------------- */
.gallery {
    display: flex;
    flex-direction: column;
    flex-grow: 1.5;
    justify-content: center;
}

.gallery h3 {
    padding-left: 20px;
}

.gallery ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.gallery ul li span {
    display: block;
    margin-top: 1%;
    text-align: center;
}

/*shortcut part -------------------- */
.shortcut {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.shortcut .container {
    display: flex;
    justify-content: space-evenly;
}

.shortcut .container div {
    display: flex;
    flex-direction: column;
}

.shortcut .container div span {
    display: block;
    text-align: center;
}

.shortcut img {
    margin: auto 0;
    height: 100px;
    object-fit: fill;
}

/*B ======================================== */
#B {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide_container {
    display: flex;
    width: 300%;
    height: 100%;
}

.slide_container div {
    position: relative;
}

.slide_container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.slide_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*FOOTER ======================================== */
footer {
    display: flex;
    width: 100%;
    height: 120px;
}

footer .logo {
    background-color: coral;
    width: 200px;
    min-width: 200px;
    height: 100%;
    text-align: center;
    filter: grayscale(0.7);
}

footer .container {
    width: 100%;
}

footer .container ul {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40%;
}

footer .container ul li {
    margin: 0 10px;
}

footer .footer_p_wrapper {
    border-top: 1px dotted gray;
    padding-left: 20px;
}